*{

padding: 0px;
margin: 0px;



}




.Cielo {
    position: relative;
  height: 450px;
  width: 1024px;
  background-image: url(Imagen/back.png);
  margin: auto;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  overflow: hidden;
  animation-name: Cielo1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;

}

.Cielo img {
  max-width: 100%;
  max-height: 100%;
  background-size: contain;
}

.montañas{

position: relative;
width: 1024px;
height: 350px;
padding-bottom: 100px;
background-image: url(Imagen/middle.png);
margin-top: -350px;
top: 100px;
z-index: 2;
animation-name: Montaña1;
animation-duration: 30s;
animation-iteration-count: infinite;


}


.Piso{

position: relative;
width: 1024px;
height: 285px;
background-color: transparent;
background-image: url(Imagen/front.png);
margin-top: -150px;
z-index: 3;
overflow: hidden;
background-position: center bottom;
animation-name: Piso1;
animation-duration: 30s;
animation-iteration-count: infinite;

}


.Mario{

    position: relative;
    top: 180px;
    right: 220px;
    text-align: center;

}

@keyframes Cielo1 {

   0%{transform: translate(0px);}
   50%{transform: translate(-1050px);}
   100%{transform: translate(-1050px);}

}

